* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body, #root {
  width: 100%;
  overflow-x: hidden;
  background-color: #1e1e1e; 
  color: #fff;
   font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.MuiBox-root {
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
body::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
